{% extends "base.html" %}

{% block title %}
    Hodwini ・ Главная
{% endblock %}

{% block body %}
<!-- header -->
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Логотип и надпись слева -->
      <a class="navbar-brand" href="index.html">
        <img src="" alt="Логотип">
        Hodwini
      </a>
      <!-- Содержимое в правой части -->
      <div class="navbar-nav ms-auto">
        <button type="button" class="btn btn-outline-dark">
          <a class="nav-link" href="#">Играть</a>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <a class="nav-link" href="wiki.html">Вики</a>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <a class="nav-link" href="#">Карта</a>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <a class="nav-link" href="#">Авторизация</a>
        </button>
      </div>
    </div>
  </header>
  <!-- main -->
  <!-- Ден, это заглушки если что, не продакшн фронт) -->
    <main class="container">
        <div class="test-main">
            <h2 class="test-h2">Hodwini News</h2>
            <p>Самые актуальные новости нашего проекта</p>
        </div>
    </main>
    <!-- footer -->
    <footer>
        <!-- Ваш код для подвала страницы -->
    </footer>
{% endblock %}
