* {
  margin: 0;
}

@font-face {
  font-family: Minecraftia;
  src: url(../assets/Minecraftia-Regular.ttf);
}

footer p {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  font-family: Minecraftia;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
