.not_found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
    & h2 {
        color: #fff;
        text-align: center;
        font-family: Minecraftia;
        font-size: clamp(28px, 4vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
    }
}
